@model AddDoctorViewModel
@{ ViewBag.Title = Model.Heading; }
<form asp-controller="Account" asp-action="AddDoctor" enctype="multipart/form-data" method="post" class="mt-3">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">Add Doctor</div>
                <div class="card-body">
                    @Html.AntiForgeryToken()
                    <div class=" row text-center">
                        @Html.LabelFor(model => model.Name, new { @class = "col-form-label col -sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.RegisterViewModel.Name, new { @class = "form-control " })
                            @Html.ValidationMessageFor(m => m.RegisterViewModel.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class=" row text-center">
                        @Html.LabelFor(model => model.Phone, new { @class = "col-form-label col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control " })
                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class=" row text-center">
                    
                          <label class="control-label col-form-label col-sm-2">Available</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.IsAvailable, new { @class = "form-control " })
                            @Html.ValidationMessageFor(m => m.IsAvailable, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class=" row text-center">
                        @Html.LabelFor(model => model.Address, new { @class = "col-form-label  col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control " })
                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class=" row text-center">
                        @Html.LabelFor(model => model.Specialization, new { @class = "col-form-label  col-sm-2" })
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.SelectedSpecializationId, new SelectList(Model.Specializations, "Id", "Name"), "Select Specialization", new { @class = "form-select " })
                            @Html.ValidationMessageFor(model => model.SelectedSpecializationId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class=" row text-center">
                        @Html.LabelFor(model => model.RegisterViewModel.Email, new { @class = "col-form-label  col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.RegisterViewModel.Email, new { @class = "form-control " })
                            @Html.ValidationMessageFor(m => m.RegisterViewModel.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class=" row text-center">
                        @Html.LabelFor(model => model.RegisterViewModel.Password, new { @class = "col-form-label  col-sm-2" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.RegisterViewModel.Password, new { @class = "form-control " })
                            @Html.ValidationMessageFor(m => m.RegisterViewModel.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class=" row text-center">
                        <label class="col-form-label col-sm-2">Confirm Password</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.RegisterViewModel.ConfirmPassword, new { @class = "form-control " })
                        @Html.ValidationMessageFor(m => m.RegisterViewModel.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class=" row text-center">
                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
