@model PatientEditViewModel
<form asp-controller="Patients" asp-action="Edit" enctype="multipart/form-data" method="post" class="mt-3">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">Edit Patient</div>
                <div class="card-body">
                    @Html.AntiForgeryToken()
                    <div class="row ">
                        @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 col-form-label text-sm-end" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row ">
                        @Html.LabelFor(model => model.Weight, new { @class = "col-sm-2 col-form-label text-sm-end" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Weight, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Weight, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row ">
                        @Html.LabelFor(model => model.Sex, new { @class = "col-sm-2 col-form-label text-sm-end" })
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.SelectedGenderId, Model.Genders, "Select Gender", new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.SelectedGenderId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row ">
                        @Html.LabelFor(model => model.BirthDate, new { @class = "col-sm-2 col-form-label text-sm-end" })
                        <div class="col-sm-10">
                            <div class="input-group date" data-bs-provide="datepicker">
                                @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control bi bi-calendar" })
                                <span class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="bi bi-calendar"></i>
                                    </span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(m => m.BirthDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row ">
                        @Html.LabelFor(model => model.Height, new { @class = "col-sm-2 col-form-label text-sm-end" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Height, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Height, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row ">
                        @Html.LabelFor(model => model.Phone, new { @class = "col-sm-2 col-form-label text-sm-end" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row ">
                        @Html.LabelFor(model => model.Address, new { @class = "col-sm-2 col-form-label text-sm-end" })
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row ">
                        @Html.LabelFor(model => model.City, new { @class = "col-sm-2 col-form-label text-sm-end" })
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.SelectedCityId, new SelectList(Model.Cities, "Id", "Name", Model.City), "Select City", new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.SelectedCityId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success">Update</button>
                            <a class="btn btn-primary" asp-controller="Patients" asp-action="Index">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts {
    <script>
        $(document).ready(function () {
            $('.date').datepicker({
                format: 'dd/mm/yyyy'
            });
        });
    </script>
}
